body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.table{
  border: 3px solid blueviolet;
  width: 100%;
}

.avatar {
  width: 100px;
  height: 100px;
}

.num_box {
  float: left;
  border: 2px #000 solid;
  padding: 1px 10px 1px 10px;
  margin-right: 10px;
}

.td-content{
  float: left;
  width: 100%;
}
